# Use the latest version of Streamlit
streamlit

# Use the latest version of transformers
transformers==4.37.2

# Use the latest version of spaCy
spacy==3.7.3

# Use the latest version of PyPDF2
PyPDF2

# Use the specified versions of TensorFlow and PyTorch
tensorflow==2.6.0
torch==1.10.0

# Other required packages
requests
